.experience {
    width: 80vw;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10rem 0;
    flex-direction: column;
    overflow: hidden;
}

.company {
    margin-bottom: 4rem;
}

.content {
    a, a:link, a:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 800;
        text-decoration: none;
    }
    &:not(:last-child) {
        margin-bottom: 4rem;
    }
}

.nav {
    flex: .3;
    list-style: none;
    li {
        a,
        a:link,
        a:visited{
            text-decoration: none;
            color: inherit;
            font-size: 2rem;
            font-weight: 600;
        }
    }
}

.bio {
    flex: 1;
}

.info {
    margin-top: 1rem;
    margin-left: 3rem;
    list-style:square;
    line-height: 1;    
}

.item {
    font-size: 2rem;
    margin-bottom:1rem;
}

.skills {
    &__box {
        ul {
            width: 400vw;
            display: flex;
            overflow: hidden;
            animation: scrollingX 8s linear infinite alternate;
        }
    }
    &__item {
        background-color: #fff;
        list-style: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 20rem;
        height: 6rem;
        border-radius: .5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 3rem;
        margin: 0 1rem;
        p {
            font-size: 1.8rem;
            color: var(--color-black);
        }
    }

    &__icon {
        width: 2.2rem;
        height: 2.2rem;
        fill: var(--primary-color);
        margin-right: 1rem;
    }
}

@keyframes scrollingX {
    0% {
        transform: translate3d(-63rem, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}